.body{
    display: flex;
    flex-direction: column; 
}
.content{
    text-align: center;
}
header{
    padding-bottom: 10%;
}
header p a{
    margin:0.5em;
    text-decoration: none;
    color:  rgb(46, 44, 44);
}

.toplinks{
    float: right;
}
.toplinks a{ 
    color: rgb(46, 44, 44);
    text-decoration: none;
}
.img{
    width: 40%;
    height:30%;
}
form input{
    width: 60%;
    height: 7%;
    padding: 1em;
    font-size: 1em;
}
button{
    margin: 1em;
    color: rgb(46, 44, 44);
}
.lang{
    margin: 1em;
}
.lang a {
    margin: 0.5em;
    text-decoration: none;
}
footer a{
    text-decoration: none;
    color: rgb(46, 44, 44);
    margin: 0.5em;
}
.bottom{
    padding: 0.5em;
}
.ug{
    padding-top: 0.3em;
}
.right{
    float: right;
}
footer{
    background-color: lightgray;
}